#post_title {
    font-size: 1.7rem;
    font-style: normal;
    margin-top: 0.2rem;
    line-height: 1.4;
    font-weight: 300;
    text-rendering: optimizelegibility;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: OpenSansLight,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}

#post_date {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    margin-top: 0px;
    padding-bottom: 1rem;
    text-rendering: optimizelegibility;
    font-family: OpenSansLight,"Helvetica Neue",Helvetica,Helvetica,Arial,sans-serif;
}