#content{
    text-align:center;
}

#fb-icon{
    margin-top: 2.0rem;
    color:#222222;
    transition: color 0.7s;
}

#fb-icon:hover{
    color:#3b5998;
}

#tw-icon{
    margin-top: 2.0rem;
    color:#222222;
    transition: color 0.7s;
}

#tw-icon:hover{
    color:#1ab2e8;
}

#gh-icon{
    margin-top: 2.0rem;
    color:#222222;
    transition: color 0.7s;
}

#gh-icon:hover{
    color:#4078c0;
}

/* the cursor for typedjs */
.typed-cursor{
    font-family: OpenSansLight,"Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
